.header{
	background-color: lightyellow;
	border-bottom: 1px solid burlywood;
}

.header__nav{
	max-width: 900px;
	min-width: 500px;
	margin: 0 auto;
}

.header__list{
	display: flex;
	justify-content: space-between;
}

.header__item{
	padding: 10px 20px;
	position: relative;
	transition: box-shadow 0.3s;
}

.header__item:hover{
	box-shadow: 0 0 3px black inset;
}

.header__link::before{
	content: '';
	position: absolute;
	inset: 0;
}