.login{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.login__title{
	font-size: 40px;
}

.login__label{
	display: inline-block;
	margin-top: 10px;
}

.login__submit{
	margin-top: 10px;
	padding: 5px 30px;
}