body {
  margin: 0;
}

.container{
	width: 200px;
	margin: 0 auto;
}

.control{
	border-radius: 3px;
	border: 1px solid burlywood;
	outline: 0;
	padding: 10px 5px;
	background-color: white;
	transition-duration: 300ms;
}
.control:hover{
	background-color: lightyellow;
}
.control:active{
	background-color: burlywood;
}